.settings--page--container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* border: 2px solid red; */
    width: 100%;
    padding-top: 35px;
  }
  
  .navigation--menu--container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .navigation--menu--container h2 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .navigation--menu--container h2 img {
    height: 18px;
    width: 18px;
  }
  
  .navigation--items {
    padding-left: 1rem;
  }
  
  /* ----------- */
  
  .order--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.062);
    padding: 2rem;
  }
  
  .order--header {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
  }
  
  .order--header h2 {
    font-size: 24px;
    font-weight: 700;
  }
  
  .wishlist--cards {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  th{
    text-wrap: nowrap;
}
tr td{
  max-lines: 1;
  text-wrap: nowrap;
}