.settings--page--container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* border: 2px solid red; */
  width: 100%;
  padding-top: 35px;
}

.navigation--menu--container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navigation--menu--container h2 {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation--menu--container h2 img {
  height: 18px;
  width: 18px;
}

.navigation--items {
  padding-left: 1rem;
}

/* EDIT PROFILE */

.coupon--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.062); */
  padding: 2rem;
}

.edit--p--header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.edit--p--header h2 {
  font-size: 24px;
  font-weight: 700;
}

/* HAM ICON STYLES */
.pro--ham--icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

@media only screen and (max-width: 1100px) {
  .settings--page--container {
    padding-top: 50px;
  }
  .pro--ham--icon {
    display: inline-block;
    /* margin-right: 1rem; */
  }
}

/* Coupon container */

.coupon--content {
  /* display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; */
  width: 100%;
}

@media screen and (max-width: 768px) {
  .coupon--content {
    grid-template-columns: repeat(1, 1fr);
  }
  .coupon--container{
    padding: 10px;
  }
}
